.palette{
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(18, 24, 33, 0.64);
    border-radius: 15px;
    border: 1px solid rgba(33, 33, 33, 0.3);
    z-index: 110;
    display: none;
    flex-wrap: wrap;
    width: 252px;
}

.paletteColor{
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.08);
}
